<div class="view">
    <ul>
        <li>
            Author
            <ul>
                <li><a href="#" @click="openExternal('https://fr.linkedin.com/in/ugo-parlange-a0415117')">Ugo
                        Parlange</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            Application
            <ul>
                <li><a href="#" @click="openExternal('https://github.com/uparlange/bing-wallpaper')">Version : {{
                        versions.application }}</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" @click="openExternal('https://www.electronjs.org/')">Based on Electron</a>
            <ul>
                <li>Version : {{ versions.electron }}</li>
                <li>Chrome : {{ versions.chrome }}</li>
                <li>Node : {{ versions.node }}</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            Based on Vue
            <ul>
                <li><a href="#" @click="openExternal('https://v3.vuejs.org/')">VueJS : {{ versions.vue }}</a></li>
                <li><a href="#" @click="openExternal('https://next.router.vuejs.org/')">VueRouter : {{
                        versions.vueRouter }}</a></li>
            </ul>
        </li>
    </ul>
    <img class="logo" src="assets/images/icon.png">
</div>