<div class="view no-scroll">
    <ul>
        <li>
            {{ translations.AUTHOR_LABEL }}
            <ul>
                <li><a href="#" @click="openExternal('https://fr.linkedin.com/in/ugo-parlange-a0415117')">Ugo
                        Parlange</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            {{ translations.APPLICATION_LABEL }}
            <ul>
                <li><a href="#" @click="openExternal('https://github.com/uparlange/bing-wallpaper')">Version : {{
                        versions.application }}</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" @click="openExternal('https://www.electronjs.org/')">{{ translations.BASED_ON_LABEL }}
                Electron</a>
            <ul>
                <li>Version : {{ versions.electron }}</li>
                <li>Chrome : {{ versions.chrome }}</li>
                <li>Node : {{ versions.node }}</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            {{ translations.BASED_ON_LABEL }} Vue
            <ul>
                <li><a href="#" @click="openExternal('https://v3.vuejs.org/')">VueJS : {{ versions.vue }}</a></li>
                <li><a href="#" @click="openExternal('https://next.router.vuejs.org/')">VueRouter : {{
                        versions.vueRouter }}</a></li>
            </ul>
        </li>
    </ul>
    <img class="logo" style="width: 300px;height: 300px;position: absolute;bottom: 20px;right: 20px;"
        src="../resources/images/icon.png">
</div>