<div class="view no-scroll" style="margin-left:30px;margin-right:30px;">
    <table style="width:100%;border-collapse: collapse; ">
        <tr v-for="source in sources" :key="source.source">
            <td style="padding-top:30px;min-width:20px">
                <span v-if="source.current">></span>
            </td>
            <td class="td-border-bottom-line" style="padding-top:30px;width:100%;">
                <span v-if="!source.home">{{ translations[source.labelKey] }}</span>
                <a v-if="source.home" href="#" @click="openExternal(source.home)">{{ translations[source.labelKey]
                    }}</a>
            </td>
            <td class="td-border-bottom-line" style="padding-top:30px;">
                <a v-if="!source.current" href="#" @click="setWallpaperSource(source.source)">{{
                    translations["SET_LABEL"]
                    }}</a>
            </td>
        </tr>
    </table>
</div>