<div :class="{ view: true, 'no-scroll': true, 'drop-zone': true, 'drop-active': dropActive }"
    style="position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;" @dragover="onDragOver($event)"
    @dragenter="onDragEnter($event)" @dragleave="onDragLeave($event)" @drop="onDrop($event)">
    <img class="wallpaper" style="object-fit: fill;width: 100%;height:100%;" :src="wallpaperPath">
    <img style="position: absolute;right: -5px;bottom: -20px;width: 100px;height: 100px;" v-if="!dropActive"
        src="../resources/images/dragdrop.svg">
</div>