html, body {
    margin:0;
    padding:0;
    font: caption;
}

a { 
    text-decoration: none; 
}

img.spinner {
    position: absolute;
    left: calc(100% / 2 - 100px);
    top: calc(100% / 2 - 100px);
}

img.wallpaper {
    object-fit: fill;
    width: 100%;
    height:100%;
}

img.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.view {
    width: 100%;
    height:100%;
}

.dropzone {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.dropzone.dropactive {
    border: 5px dashed black;
}